.container{
    flex-direction: column;
}

.item2{
    padding-top: 180px;
}

form input{
    background-color: rgb(183, 232, 247);
    border-color: rgb(0, 26, 255);
    border-width: 2px;
    width: 150px;
    height: 50px;
    border-radius: 10%;
}

form input:hover{
    box-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
}

form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 20px 0 20px;
}
