g {
    text-decoration: none;
    fill:rgb(184, 236, 252);
    stroke:rgb(0, 26, 255);
    
    
    /* stroke:rgb(0, 0, 0);
    fill: rgb(248, 183, 43); */
    
    fill-opacity:1;
    stroke-width:1px;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-opacity:1;
    
    transition: fill 1.2s, stroke 1s
}

g a{
    text-decoration: none;
    fill:rgb(184, 236, 252);
    stroke:rgb(0, 26, 255);
    
    
    /* stroke:rgb(0, 0, 0);
    fill: rgb(248, 183, 43); */
    
    fill-opacity:1;
    stroke-width:1px;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-opacity:1;
    
    transition: fill 1.2s, stroke 1s
}

g.changeColor:hover {
    stroke:rgb(56, 0, 102);
    fill: rgb(247, 156, 239);
    
    
    /* stroke:rgb(255, 193, 183);
    fill: rgb(233, 8, 0); */
}

g.changeColor a:hover {
    stroke:rgb(56, 0, 102);
    fill: rgb(247, 156, 239);
    
    
    /* stroke:rgb(255, 193, 183);
    fill: rgb(233, 8, 0); */
}


#box:checked + g a{
    background: #fffc47;
    color: #666666;
  }

g a path{
    fill:rgb(183, 232, 247);
    stroke:rgb(0, 26, 255);

    transition: fill 1.2s, stroke 1s
}

g.changeColor a path:hover {
    stroke:rgb(56, 0, 102);
    fill: rgb(247, 156, 239);
}